@import "tailwindcss";

/* color picker */
:root {
  --accent-color: #EA384C;
  --dark-bg-color: #191E2B;
  --text-color: #FFFFFF;
  --icon-filter: invert(40%) sepia(50%) saturate(1000%) hue-rotate(320deg) brightness(90%) contrast(90%);
}

/* Icon hover effects */
.group:hover img {
  filter: brightness(0) invert(1) !important;
}

/* Progress bar animation */
@keyframes progressFill {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.progress-bar {
  animation: progressFill 2s ease-out;
}